<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Desarrollo Web a Medida{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        {# Si aún no tienes Tailwind configurado en Webpack, por el momento CDN temporalmente #}
        <script src="https://cdn.tailwindcss.com"></script>

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body class="bg-gray-50 text-gray-800">
        
        {# Bloque para el Menú #}
        {% block nav %}{% endblock %}

        {# Bloque para el Hero / Header #}
        {% block header %}{% endblock %}

        {# Bloque para el Contenido Principal #}
        <main>
            {% block body %}{% endblock %}
        </main>

        {# Bloque para el Footer / Contacto #}
        {% block footer %}{% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
